<!DOCTYPE html>
<html>
    <head>
        <title>Live Streaming</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
        <div class="top-bar">
            <ul>
                <li><a href="#" class="logo">My Website</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="image">
            <img src="{{ url_for('video_feed') }}" >
        </div>
        <div class="buttons">
            <button>Follow</button>
            <button>Share</button>
            <button>Chat</button>
        </div>



    </body>
</html>